<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div>
    <form action="/books/add" method="POST">
        <h2 >Inserte nuevo Libro</h2>
        <div>
            <label  >ISBN: </label>
            <input type="text" name="name" >
        </div>
        <div >
            <label>Titulo: </label>
            <input type="text" name="name"  >
        </div>
        <div>
            <label>Precio: </label>
            <input type="text" name="añp_de_nacimiento"  >
        </div>
        <div>
            <label>IdAuthor: </label>
            <input type="text" name="mes_de_nacimiento"  >
        </div>

        <button >Insertar</button>
    </form>
</div>


</body>
</html>